#if($!{package})package ${package}#end

import com.excilys.ebi.gatling.core.Predef._
import com.excilys.ebi.gatling.http.Predef._
import com.excilys.ebi.gatling.app.GatlingSimulation

class Simulation#if($!{package})${date}#end extends GatlingSimulation {

def apply ={
#parse("scenarioText.vm")
}
}